---
import Layout from '@/layouts/Layout.astro'
import { DisplayServerTime } from '@/components/display-server-time.tsx'
---

<Layout title="Welcome to Astrox.">
  <main
    class="flex min-h-screen flex-col items-center justify-between p-4 md:p-24"
  >
    <img
      src="/_static/logo.svg"
      alt="Astrox logo"
      class="h-32 w-32 sm:h-48 sm:w-48"
    />
    <span class="inline-flex flex-row items-baseline">
      <h1
        class="font-display text-4xl font-extrabold leading-[1.10] text-black sm:text-6xl sm:leading-[1.10]"
      >
        Welcome to
      </h1>
      <h1
        class="font-display ml-3 bg-gradient-to-r from-red-500 to-teal-400 bg-clip-text text-4xl font-extrabold leading-[1.10] text-transparent sm:text-6xl sm:leading-[1.10]"
      >
        Astrox
      </h1>
    </span>

    <p class="mt-5 text-center text-gray-700 sm:text-lg">
      Astrox is a statically generated Astro site served by a Rust based Axum
      backend designed for computationally and memory constrained platforms.
      Fitting in under 2MB of memory and using near zero compute resources,
      Astrox is perfect for tasks such as network connected IoT devices, small
      robotics, and rocket telemetry.
    </p>
    <p class="text-center text-sm">
      Axum backend base
      <code class="font-mono font-bold"> src/main.rs </code>
      <br />
      Astro frontend launched from
      <code class="font-mono font-bold"> src/pages/index.astro </code>
      <br />
      Realtime interaction through react
      <code class="font-mono font-bold">
        src/components/display-server-time.tsx
      </code>
    </p>
    <!-- Example react component that calls on the rust server to get the current server time -->
    <DisplayServerTime client:load />
  </main>
</Layout>
